#lignelogo{
    border-bottom:1px solid black;
    /*display: block;*/
    height: 150px;
    margin-bottom: 10px;
}
#lignelogo ul{
    float: right;
}
#lignelogo li{
    display: inline-block;
    list-style-type: none;
    text-align: right;
}
#logo{
    width:10%;
    float: left;
}

#bande{
    background-image: url("../images/savane.jpg");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 300px;
}

#quoi{
    height : 500px;
}

#images{
    width: 100%;
    height: 300px;
}

#images ul li{
    padding: 10px;
    height : 250px;
    width: 23%;
    list-style-type: none;
    float: left;
    text-align: center;
}
#images ul li div{
    height: 85%;
    width: auto;
    box-sizing: border-box;
}

#images img{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#flemmard{
    width: 100%;
}

#reste{
    height: 530px;
    width: 100%;   
}

#carte, #form{
    width: 50%;
    float:left;
    text-align: center;
}

#form form{
    width: 100%;
    
}

form input{
    height: 25px;
}

.grand{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.petit{
    width:50%;
    float: left;
    margin-bottom: 20px;
}

.petit input{
    width: 95%;
    padding: 1px;
}

.grand input, textarea{
    width: 100%;
    float: left;
    padding: 0px;
    box-sizing: border-box;
}

.gauche{
    float: left;
}

.droite{
    float: right;
}

textarea{
    height: 150px;
}

#boutton{
    float:none;
    text-align: right;
}



