html{
    font-size: 62.5%;
}

*{
    font-size: 1.6rem;
}

h1{
    font-size: 8vw;
   /*font-size: 2.5rem;*/
}

p{
	background-color:#3498db;
}
img{
    max-width: 100%;
    height: auto;
}

table{
    margin: 20px;
}


@media screen and (max-width: 480px){
    tr {
        display: table;
        width: 100%;
        height: auto;
    }
    
    td th {
        display: table-row;
    }
}