html{
    font-size: 62.5%;
    background-image: url(image/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   /* background-position: center;*/
}

*{
    font-size: 1.6rem;
}
#bouh{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 8vw;
   /*font-size: 2.5rem;*/
}

p{
	background-color:#3498db;
}
img{
    max-width: 100%;
    height: auto;
}

table{
    margin: 20px;
    text-align: center;
}


@media screen and (max-width: 480px){
    html{
        background-image: url(image/suricate.jpg);
        
        background-position: center;
    }
    table {
        width: 100%;
        margin:0px;
        margin-bottom: 20px;
    }
    tr {
        display: block;
        height: auto;
        width=100%;
    }   
    th{
        background-color: lightgray;
    }
    
    td, th {
        display: block;
        width: 100%;
    }
    
}